*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.maincontainer{
    width: 100%;
    height: auto;
    background-color: #DEE1E6;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 96%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

}
.nav{
    width: 100%;
    height: 15vh;
    background-color: #FFF8DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    font-size: 40px;
    padding-left: 10%;
    color: #697BD1;
}
.nav ul{
    width: 50%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.nav ul li a{
    letter-spacing: 1px;
}
.container1{
    width: 100%;
    height: auto;
    display: flex;
    
}
.left{
    width: 50%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#697BD1; 
}

.right{
    width: 50%;
    height: 120vh;
    background-image: url("./img/secgirl.png");
    background-size: cover;
    background-position: center;
}
.first-part{
    width: 100%;
    height: 75vh;
    padding-top: 10px;
    padding-left: 15%;
    

}
.first-part ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
    padding-top: 12px;
}
.first-part ul li div{
    width: 2px;
    height: 30px;
        background-color: #FFFFFF;
}
.first-part h1{
    font-size: 120px;
    color:#FFFFFF;
    font-weight: normal;
    padding-top: 8px;
}
.first-part p{
    font-size: 20px;
    color: #FFFFFF;
    /* text-align: center; */
    letter-spacing: 1px;
    padding-top: 8px;
}
.first-part h3{
    padding-top: 30px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: bold;
}
.second-part{
    width: 100%;
    height: 60vh;
    padding-left: 15%;
    background-color: #FFF8DC;
}
.second-part ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.second-part ul li div{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 12px;

    border-radius: 100%;
}
#first{
    width: 30px;
    height: 30px;
    border: 4px solid white;
    background-color: pink;
}
#sec{
    background-color: red;
}
#third{
    background-color: blue;
}
#fourth{
    background-color: rgb(159, 72, 86);
}
.second-part h3{
    margin-top: 30px;
    font-size: 20px;
    /* font-weight: 500px; */
    display: flex;
    align-items: center;
    justify-content: start;
    color:black;
}
.second-part img{
    padding-right: 5%;
}
h3 span{
    padding-inline: 2%;
    color: #697BD1;
}
.button{
    width: 500px;
    margin-top: 35px;
    display: flex;
    align-items: start;
    justify-content: start;
    /* background-color: red; */
}
.button button{
    width: 200px;
    padding-block: 10px;
    border-radius: 40px;
    border: none;
    background-color: #697BD1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
    font-weight: bolder;
    padding-inline: 10px;
    font-size: 15px
}

.divthree{
    width: 240px;
    display: flex;
    /* border: 2px solid black; */
}

.divthree div{
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: purple;
    border: 1px solid black;
    /* background-color: red; */
}
.divthree div:first-child{
    background-color:#E6CAA3;
}

.divthree div:nth-child(2){
    background: #f7ffe5;
}
.divthree div:last-child{
    background: #e6caa3;
}

.second-part .lastul {
    margin-top: 40px;
    width: 40%;
    
}
.second-part .lastul li i{
    font-size: 20px;
    color: #657ed8;
}

@media (max-width:768px) {
    .container{
        width: 100%;
        height: auto;
        /* background-color: red; */
    }
    .container .nav{
        width: 100%;
        height: auto;
        /* background: green; */
    }
    .nav h1{
        font-size: 20px;
    }
    .nav ul{
        /* background: aqua; */
        width: 70%;
    }
    .nav ul li{
        font-size: 12px;
    }
    .nav ul li img{
        width: 30px;
    }
    .container1{
        width: 100%;
        height: auto;
    }
    .container1 .left{
        width: 70%;
        height: auto;
    }
    .left .first-part{
        /* background: red; */
    }
    .left .first-part ul li{
        font-size: 12px;
    }
    .left .first-part ul li div{
        height: 10px;
    }
    .left .first-part h1{
        font-size: 50px;
        padding-block: 30px;
    }
    .left .first-part p{
        font-size: 12px;
    }
    .left .first-part h3{
        font-size: 30px;
    }
    .second-part ul li div{
        width: 20px;
        height: 20px;
    }
    #first{
        width: 25px;
        height: 25px;
    }
    .second-part h3{
        font-size: 15px;
    }
    .second-part h3 span{
        font-size: 13px;
    }
    .second-part h3 img{
        width: 90px;
    }

    .second-part .button .divthree{
        width: 150px;
    }
    .divthree div{
        width: 50px;
        height: 40px;
        font-size: 20px;

    }
    .second-part .button button{
        width:150px;
        font-size: 10px;
        /* background-color: red; */
    }
    .second-part .button button img{
        width: 25px;
    }
    .lastul li i{
        font-size: 10px;
    }
    .container1 .right{
        width: 30%;
    }
}